.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background: #112e42;
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  background: #00abf0;
  border: 0.2rem solid #00abf0;
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #112e42;
  z-index: -1;
  transition: 0.5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: #112e42;
  transition: 0.5s;
}
.footer-iconTop a:hover i {
  color: #00abf0;
}
@media (max-width: 991px) {
  .footer {
    padding: 2rem 4%;
  }
}
@media (max-width: 462px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}
